.App {
  text-align: center;
}

/* class */

.btn-blue {
  padding: .2rem .5rem;
  background-color: rgb(114, 189, 250);
  border-radius: 3px;
  border: 2px solid rgb(114, 189, 250);
}

/* btn hover effect */
.btn-blue:hover {
  background-color: rgb(27, 144, 253);
}

/* id */
#state-search-input {
  width: 2rem;
}